@import url(https://fonts.googleapis.com/css?family=Poppins);

.App {
  width: 100%;
  height: 100%;
  font-family: Poppins;
}
.header {
  display: flex;
  justify-content: space-between;
}

.header_2 {
  font-weight: 500;
  margin-top: 10px;
  font-size: 14px;
}

.nav {
  padding: 20px;
}

.h_title {
  font-size: large;
  font-weight: bold;
}

.h_button {
  font-family: Poppins;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 5px 20px;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
}

.h_button:hover {
  transform: scale(1.2);
  background-color: #bea602;
  font-weight: bold;
}

.header {
  font-weight: bold;
}

.button {
  border: none;
  width: 70px;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10px;
  margin: 0px 5px;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  font-family: Poppins;
}

.button:hover {
  transform: scale(1.1);
  background-color: black;
  color: white;
}

.main {
  height: 100vh;
  display: flex;
}

.editor {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view {
  width: 50%;
  display: flex;
  align-items: top;
  justify-content: center;
  padding: 0px 10px;
}

.eHeaderContainer {
  display: flex;
  margin: 10px;
  width: 500px;
  flex-direction: column;
}

.eInputHeaderUrl {
  border: 1px solid rgba(150, 150, 150, 0.692);
  padding: 10px;
  border-radius: 3px;
  width: 30em;
}

.eInputCourseStructur {
  border: 1px solid rgba(150, 150, 150, 0.692);
  padding: 10px;
  border-radius: 3px;
  width: 30em;
  height: 10em;
  font-family: Oswald;
  width: 100%;
}

.eInputLearningObjectivesItemContainer {
  display: flex;
  align-items: center;
}

.eInputLearningObjectives {
  border: 1px solid rgba(150, 150, 150, 0.692);
  padding: 10px;
  border-radius: 3px;
  width: 100%;
  margin: 8px 0px;
}

.trashIcon {
  margin-left: 30px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.trashIcon:hover {
  transform: scale(1.2);
  fill: rgb(0, 0, 0);
}

.itemsButton {
  border: none;
  width: 100px;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0px;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  font-family: Poppins;
}

.courseWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.courseItemBigWrapper {
  display: flex;
  align-items: center;
}

.courseItemWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  box-shadow: rgba(158, 158, 158, 0.2) 0px 7px 29px 0px;
}

.DeletebuttonIcon {
  align-self: center;
  background-color: rgb(250, 59, 59);
  color: white;
  padding: 10px;
  width: 100px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.DeletebuttonIcon:hover {
  background-color: rgb(121, 15, 15);
  color: white;
}

.InputWrapper {
  display: flex;
  flex-direction: column;
  font-family: Oswald;
  margin: 10px;
  justify-content: center;
}

.eInputCN {
  border: 1px solid rgba(150, 150, 150, 0.692);
  padding: 10px;
  border-radius: 3px;
  margin: 5px 0px;
  width: 85%;
}

.timeInput {
  width: 30px;
}

.titleInput {
  width: 250px;
}

.chapterButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  margin: 10px 0px;
  border-radius: 5px;
  width: 120px;
  padding: 5px;
  color: white;
}

.chapterWrapper {
  width: 100%;
}

.ChapterLinkWrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.timeTitleWrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
}
/* View */

.vHeaderImageContainer {
  display: flex;
}

.vHeaderImage {
  width: 100%;
  align-items: center;
}

.viewHeader {
  font-family: Oswald;
  margin-bottom: 0px;
}

.courseStrText {
}

.vLearningObjectivesContainer {
  background-color: #ededed;
  padding: 10px;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(158, 158, 158, 0.2) 0px 7px 29px 0px;
}

.vLearningObjectivesInnerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.vLearningObjectivesItems {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: #bea602;
  width: 24vw;
}
.vLearningObjectivesVideo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex: 1;
  margin-bottom: 10px;
}
.video {
  width: 100%;
  height: 100%;
}
.vCoursenavigationWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vCoursenavigationHeader {
  font-family: Oswald;
  font-size: 30px;
  font-weight: bold;
}

.vViereck {
  height: 5px;
  width: 50px;
  background-color: #bea602;
  margin-bottom: 10px;
}

.vCourseNavigationItemsWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 50px;
}

.vCNWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 200px;
  position: relative;
  margin: 10px;
}

.vCNTitle {
  display: flex;
  flex-direction: column;
  background-color: #bea602;
  border: #bea602 solid 1px;

  width: 200px;
  border-radius: 5px 5px 0px 0px;
  height: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.vCNTitle_Duration {
  font-size: 13px;
  font-weight: bold;
  color: rgb(77, 77, 77);
  align-self: flex-end;
  margin: 5px;
}

.vCNTitle_title {
  font-size: large;
  font-weight: bold;
  line-break: auto;
  color: white;
  margin: 10px;
}

.vCNBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(61, 61, 61);
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 12px;
  width: 200px;
  border-radius: 0px 0px 5px 5px;
  border: #bea602 solid 1px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 0px 0px;
}

.vCNButton {
  background-color: #bea602;
  border-radius: 10px;
  padding: 3px 34px;
  color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: -10px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.vCNButton:hover {
  background-color: #7a6a00;
  transform: scale(1.05);
}

.vContactsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #3b3b3a;
  padding: 10px;
  color: white;
}

.courseItemsWrapper {
  display: flex;
  flex-direction: column;
}

.contactItemWrapper {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(240, 240, 240, 0.644);
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.vContactItemsWrapper {
  display: flex;
  flex-wrap: wrap;
}

.vContactWrapper {
  display: flex;
  margin-right: 10px;
}

.vContactleft {
  display: flex;
  height: 250px;
}

.vContactRight {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 10px;
}

.vContactEmail {
  color: #bea602;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modalInput {
  width: 90%;
  margin: auto;
  padding: 5px;
}
