/* Hide the color of the tile on the dashboard when an image is being used on that tile */
@import url(https://fonts.googleapis.com/css?family=Oswald);
.ic-DashboardCard__header_image .ic-DashboardCard__header_hero {
  background: none !important;
}

.ganze {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oswald;
}

.moduleuebersicht {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}

.linkeseite {
  flex: 1;
}
.linke-text {
  width: 90%;
  margin: auto;
}

.linke-text2 {
  display: none;
}

.linke-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #bea000, #5c5c5a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.linke-text p {
  margin-top: 5px;
  font-size: 18px;
  font-family: sans-serif;
  color: #000000;
}

.linke-text .testbild {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bildingo img {
  filter: drop-shadow(0px 5px 3px black);
  animation: dropingos 1.5s ease;
}
.linkeseite .modulescards {
  display: flex;
  margin-top: 100px;
  flex-direction: row;
  justify-content: space-around;
  filter: drop-shadow(0px 5px 3px rgb(128, 128, 128));
  animation: dropingos 1.5s ease;
  font-family: Oswald;
}

.cardcustom {
  border: none;
  width: 296px;
  height: 244px;
  border-radius: 10px;
  margin-right: 10px;
  background-color: #000000;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Oswald;
}

.modulescards .cardcustom:hover {
  background-color: #5c5c5a;
  box-shadow: 3px 3px 6px rgb(143, 143, 143);
}

.cardcustom .cardcustomimg img {
  position: relative;
  margin: 0;
  bottom: 4em;
  height: 10em;
}

.cardcustom .cardcustomtext {
  color: white;
  position: relative;
}
.cardcustom .cardcustomtext p {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 50px;
  font-family: sans-serif;
  font-size: 25px;
  font-family: Oswald;
}

.cardcustombuttom {
  display: flex;
  align-items: center;
  font-family: Oswald;
  padding: 13px;
  font-size: 17px;
  border-radius: 20px;
  color: white;
  width: 100px;
  display: flex;
  justify-content: center;
  background-color: #bea000;
  text-decoration: none !important;
}

.cardcustombuttom:hover {
  background-color: #000000;
}

.badgeganzes {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 3%;
  flex-direction: column;
  /* background-color: #f0f0f0; */
}

.badgeganzes .titleundtext h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #bea000, #5c5c5a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.badgeganzes .titleundtext p {
  font-family: sans-serif;
  margin-top: 5px;
  font-size: 18px;
  color: #000000;
}

.badgeganzes .cardfuerbadge {
  width: 90%;
  margin: auto;
  margin-top: 8%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  animation: dropingos 1.5s ease;
}
.badgeganzes .cardfuerbadge .cardcustom {
  background-color: transparent;
  border: #bea000 solid;
  color: #000000;
}

.badgeganzes .cardfuerbadge .cardcustom .cardcustomtext {
  color: #000000;
}

.badgeganzes .loadingbadgr {
  display: none;
  width: 500px;
  height: 10px;
  margin: 20px;
  background-color: rgb(167, 167, 167);
}

.kontakte {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #000000;
  font-family: Oswald;
  color: white;
  animation: dropingos 1.5s ease;
  filter: drop-shadow(0px 5px 3px rgb(119, 119, 119));
}
.kontakte .info {
  display: flex;
  flex: 1;
  margin: 7%;
}
.kontakte .info img {
  border-radius: 20px;
}
.kontakte .info .textkontakte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 5%;
  color: #ffffff;
  text-align: left;
  font-size: 18px;
  line-height: 0.5em;
}
.kontakte .info .textkontakte p {
  width: 13em;
}
.kontakte .info .textkontakte a {
  text-decoration: none;

  color: #bea000;
}
.anderebild img {
  width: 80%;
  margin: auto;
  margin-left: 10%;
}

.headerauto {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
}
.headerauto h1 {
  font-size: 45px;
  background: linear-gradient(to right, #bea000, #5c5c5a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headerauto p {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}
.alleModuleCard {
  width: 100%;
  margin: auto;
  align-items: center;
}
.alleModuleCard ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, max-content));
  grid-gap: 18px;
  justify-content: center;
  padding: initial;
  text-decoration: none;
}
.alleModuleCard li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  color: #bea602;
  font-family: Oswald;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 120px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #383838;
  text-decoration: none;
  transition: all 0.8s ease;
}
.alleModuleCard a {
  text-decoration: none;
  color: #bea602;
}
.alleModuleCard li:hover {
  background-color: black;
  box-shadow: 0px 5px 10px #dfe6f0;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.alleModuleCard a :hover {
  color: white;
}

.nummercard {
  position: relative;
  left: 0px;
}

.InhalteHeader {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background: linear-gradient(to right, #bea000, #5c5c5a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.kontakteMitCard {
  margin-top: 20px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, max-content));
  grid-gap: 18px;
  justify-content: center;
  padding: initial;
  text-decoration: none;
}
.KontaktCardPro {
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(26, 26, 26, 0.2);
  transition: 0.3s;
}

.KontaktCardPro:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.KontaktCardContainer {
  padding: 2px 16px;
  z-index: -1;
  margin-top: -10px;
  background-color: #383838;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.KontaktCardContainer {
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}
.KontaktCardContainer a {
  text-decoration: none;
  color: #bea602;
}

.titlekontaktecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}
.titlekontaktecard h1 {
  background: linear-gradient(to right, #bea000, #5c5c5a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
NEW CSS FOR GENERATOR
*/

/*HEADER IMAGE*/

.headerImageContainer {
  display: flex;
}

.headerImage {
  width: 100%;
  height: auto;
  align-items: center;
}

/*courseStructure*/

.courseStrWrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.viewHeader {
  margin-bottom: 9px !important;
  color: #3b3b3b;
  font-size: 23px;
  font-weight: 600;
}

.viereck {
  height: 5px;
  width: 50px;
  background-color: #bda404;
  margin-bottom: 10px;
}

/*Learning Objectives*/

.learningObjectivesContainer {
  background-color: #ededed;
  padding: 10px;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.learningObjectivesInnerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.learningObjectivesItems {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: #bea602;
  width: 40vw;
}

.learningObjectivesVideo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex: 1;
  margin-bottom: 10px;
}

.video {
  width: 100%;
  height: 100%;
}

.coursenavigationWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coursenavigationHeader {
  font-family: Oswald;
  font-size: 30px;
  font-weight: bold;
}

.courseNavigationItemsWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 50px;
}

.cnWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 200px;
  position: relative;
  margin: 10px;
  transition: all 0.3s ease;
}

.cnWrapper:hover {
  transform: scale(1.1);
}

.cnTitle {
  display: flex;
  flex-direction: column;
  background-color: #bea602;
  border: #bea602 solid 1px;

  width: 200px;
  border-radius: 5px 5px 0px 0px;
  height: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cnTitle_Duration {
  font-size: 13px;
  font-weight: bold;
  color: rgb(77, 77, 77);
  align-self: flex-end;
  margin: 5px;
}

.cnTitle_title {
  font-size: large;
  font-weight: bold;
  line-break: auto;
  color: white;
  margin: 10px;
}

.cnBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(61, 61, 61);
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 12px;
  width: 200px;
  border-radius: 0px 0px 5px 5px;
  border: #bea602 solid 1px;
  transition: all 0.3s ease;
}

.cnBody:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cnButton {
  background-color: #bea602;
  border-radius: 10px;
  padding: 3px 34px;
  color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: -10px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.cnButton:hover {
  background-color: #7a6a00;
  transform: scale(1.05);
}

.contactsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #3b3b3a;
  padding: 10px;
  color: white;
}

.courseItemsWrapper {
  display: flex;
  flex-direction: column;
}

.contactItemWrapper {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(240, 240, 240, 0.644);
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.contactItemsWrapper {
  display: flex;
  flex-wrap: wrap;
}

.contactWrapper {
  display: flex;
  margin-right: 10px;
}

.contactleft {
  display: flex;
  height: 250px;
}

.contactRight {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 10px;
}

.contactEmail {
  color: #bea602;
}

@keyframes dropingos {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1000px) {
  .bildingotable {
    display: none;
  }
  .moduleuebersicht {
    flex-direction: column;
  }
  .linkeseite {
    margin-top: 5vh;
    text-align: center;
  }
  .linke-text2 h1 {
    font-size: 30px;
    font-weight: 500;
    background: linear-gradient(to right, #bea000, #5c5c5a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Oswald;
  }

  .linke-text2 p {
    font-size: 18px;
    font-family: sans-serif;
  }
  .linke-text table {
    display: none;
  }
  .linke-text2 {
    display: flex;
    flex-flow: column wrap;
  }
  .bildingo img {
    display: none;
    height: 80%;
  }
  .linkeseite .modulescards {
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 20%;
    flex-direction: row;
    filter: drop-shadow(0px 5px 3px black);

    animation: dropingos 1.5s ease;
  }
  .cardcustom {
    border: none;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20%;
    padding: 12px;
    margin-left: 9px;

    background-color: #000000;
    transition: all 0.3s ease;
  }
  .badgeganzes {
    align-items: center;
  }

  .badgeganzes .titleundtext {
    margin-top: 2vh;
    text-align: center;
  }

  .badgeganzes .titleundtext p {
    font-size: 18px;
    font-family: Oswald;
  }

  .badgeganzes .cardfuerbadge {
    border: none;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 25%;
    margin-top: 20%;
    animation: dropingos 1.5s ease;
  }
  .badgeganzes .cardfuerbadge .cardcustom {
    background-color: transparent;
    border: #bea000 solid;
  }
  .badgeganzes .loadingbadgr {
    display: none;
    transform: rotate(90deg);
    width: 30%;
    margin: auto;
    position: relative;
    right: 25%;
  }
  .anderebild img {
    display: none;
  }
  .kontakte {
    width: 100%;
    margin: auto;
  }
  .kontakte .info {
    display: flex;
    flex: 1;
    width: 70%;
    margin: 2%;
  }
  .kontakte .info .textkontakte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 5%;
    color: #ffffff;
    text-align: left;
    font-size: 11px;
    line-height: 0.5em;
  }

  .learningObjectivesInnerContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

@media screen and (max-width: 430px) {
  .contactWrapper {
    display: flex;
    flex-direction: column;
  }
}
